@model ProjectsSharp.Models.Question
@{
    ViewData["Title"] = "Quizz App";
}
<div>
    <h1>Question</h1>

    @if (Model == null)
    {
        <h2>Fin du questionnaire</h2>
        <div>
            <button onclick="resetQuestions();">Recommencer</button>
        </div>
    }
    else
    {
        <div>
            <h2 class="titre">@Model.Text</h2>
            <ul class="questions">
                @foreach (var option in Model.Options)
                {
                    <li>
                        <button class="question"
                                data-id="@Model.Id-@option.Replace(" ", "").Replace("'", "&apos;")"
                                onclick="submitOption('@Model.Id', '@option.Replace(" ", "").Replace("'", "&apos;")')">
                            @option
                        </button>
                    </li>
                }
            </ul>
        </div>
    <div id="next">
    </div>
    }
    <div class="score">
        <h3>Score: <span id="score"></span></h3>
    </div>
    
</div>


@Html.AntiForgeryToken()

<script src="js/questions.js"></script>